<ion-content [fullscreen]="true">
  <div class="container">
    <div class="context">
      <img src="../../assets/logos/logo.png" />
      <h1>Bievenido a ParkingYa</h1>
      <p>
        Para generar su código QR, haga click
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://parking-festivap.firebaseapp.com/?provider=0001"
          >aqui</a
        >
      </p>
    </div>
  
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</ion-content>
